@import "compass/reset";
@import "compass/css3";

body {
    background: #000000;
}

h1 {
    margin-top: 80px;
    text-align: center;
    font-size: 40px;
    font-family: "Aldrich";
    color: #ffffff;
}

.search-form {
    margin: 20px 0 30px;
    text-align: center;

    input[type=url] {
        width: 600px;
        height: 30px;
        font-size: 20px;
    }
}

.result {
    padding-top: 30px;
    text-align: center;
    color: #ffffff;

    section {
        margin-bottom: 30px;
        display: none;
    }

    h2 {
        font-size: 25px;
        font-family: "Varela";
    }

    .score {
        margin-top: 20px;
        font-size: 100px;
        font-family: "Rock Salt";

        &.perfect {
            color: #0000ff;
        }

        &.high {
            color: #00ff00;
        }

        &.middle {
            color: #ffff00;
        }

        &.low {
            color: #ff0000;
        }
    }
}

#performance-impact-chart {
    display: inline-block;
    width: 900px;
    height: 500px;
}