@import "compass/reset";
@import "bourbon/bourbon";

body {
    background: #000000;
    text-align: center;
}

h1 {
    margin-top: 80px;
    text-align: center;
    font-size: 40px;
    font-family: "Aldrich";
    color: #ffffff;
}

.search-form {
    display: inline-block;
    margin: 20px 0 30px;
    color: #ffffff;

    input[type=url] {
        width: 600px;
        height: 30px;
        font-size: 20px;
    }

    .check-row {
        margin-top: 10px;
        text-align: left;
    }

    input[type=radio]:nth-child(3) {
        margin-left: 20px;
    }

    label {
        font-size: 20px;
        vertical-align: middle;
    }
}

.result {
    padding-top: 30px;
    text-align: center;
    color: #ffffff;

    section {
        margin-bottom: 30px;
        display: none;
    }

    h2 {
        font-size: 25px;
        font-family: "Varela";
    }

    .score {
        margin-top: 20px;
        font-size: 100px;
        font-family: "Rock Salt";

        &.perfect {
            color: #0000ff;
        }

        &.high {
            color: #00ff00;
        }

        &.middle {
            color: #ffff00;
        }

        &.low {
            color: #ff0000;
        }
    }
}

#performance-impact-chart {
    display: inline-block;
    width: 900px;
    height: 500px;
}

.loading {
    display: none;
    height: 500px;

    .spinner {
        @include background(
            linear-gradient(#ea2d0e 50%, #fcd883 50%),
            linear-gradient(#fcd883 50%, #ea2d0e 50%)
        );
        @include animation(mask 3s infinite alternate);

        position: relative;
        font-size: 100px;
        width: 1em;
        height: 1em;
        margin: 100px auto;
        border-radius: 50%;
        box-shadow: inset 0 0 0 .12em rgba(0,0,0,0.2), 0 0 0 .12em rgba(255,255,255,0.1);
        background-size: 50% 100%, 50% 100%;
        background-position: 0 0, 100% 0;
        background-repeat: no-repeat;
        opacity: 0.7;

        &:after {
            content: "";
            position: absolute;
            border: .12em solid rgba(255,255,255,0.3);
            position: absolute;
            top: 12.5%;
            left: 12.5%;
            width: 50%;
            height: 50%;
            border-radius: inherit;
        }
    }
}

@include keyframes(mask) {
    25%  { @include transform(rotate(270deg)); }
    50%  { @include transform(rotate( 90deg)); }
    75%  { @include transform(rotate(360deg)); }
    100% { @include transform(rotate(180deg)); }
}