/* line 17, ../../../../../../.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 4, ../../work/sass/style.scss */
body {
  background: #000000;
  text-align: center;
}

/* line 9, ../../work/sass/style.scss */
h1 {
  margin-top: 80px;
  text-align: center;
  font-size: 40px;
  font-family: "Aldrich";
  color: #ffffff;
}

/* line 17, ../../work/sass/style.scss */
.search-form {
  display: inline-block;
  margin: 20px 0 30px;
  color: #ffffff;
}
/* line 22, ../../work/sass/style.scss */
.search-form input[type=url] {
  width: 600px;
  height: 30px;
  font-size: 20px;
}
/* line 28, ../../work/sass/style.scss */
.search-form .check-row {
  margin-top: 10px;
  text-align: left;
}
/* line 33, ../../work/sass/style.scss */
.search-form input[type=radio]:nth-child(3) {
  margin-left: 20px;
}
/* line 37, ../../work/sass/style.scss */
.search-form label {
  font-size: 20px;
  vertical-align: middle;
}

/* line 43, ../../work/sass/style.scss */
.result {
  padding-top: 30px;
  text-align: center;
  color: #ffffff;
}
/* line 48, ../../work/sass/style.scss */
.result section {
  margin-bottom: 30px;
  display: none;
}
/* line 53, ../../work/sass/style.scss */
.result h2 {
  font-size: 25px;
  font-family: "Varela";
}
/* line 58, ../../work/sass/style.scss */
.result .score {
  margin-top: 20px;
  font-size: 100px;
  font-family: "Rock Salt";
}
/* line 63, ../../work/sass/style.scss */
.result .score.perfect {
  color: #0000ff;
}
/* line 67, ../../work/sass/style.scss */
.result .score.high {
  color: #00ff00;
}
/* line 71, ../../work/sass/style.scss */
.result .score.middle {
  color: #ffff00;
}
/* line 75, ../../work/sass/style.scss */
.result .score.low {
  color: #ff0000;
}

/* line 81, ../../work/sass/style.scss */
#performance-impact-chart {
  display: inline-block;
  width: 900px;
  height: 500px;
}

/* line 87, ../../work/sass/style.scss */
.loading {
  display: none;
  height: 500px;
}
/* line 91, ../../work/sass/style.scss */
.loading .spinner {
  background: -webkit-linear-gradient( #ea2d0e 50%, #fcd883 50%), -webkit-linear-gradient( #fcd883 50%, #ea2d0e 50%);
  background: linear-gradient( #ea2d0e 50%, #fcd883 50%), linear-gradient( #fcd883 50%, #ea2d0e 50%);
  -webkit-animation: mask 3s infinite alternate;
  -moz-animation: mask 3s infinite alternate;
  animation: mask 3s infinite alternate;
  position: relative;
  font-size: 100px;
  width: 1em;
  height: 1em;
  margin: 100px auto;
  border-radius: 50%;
  box-shadow: inset 0 0 0 0.12em rgba(0, 0, 0, 0.2), 0 0 0 0.12em rgba(255, 255, 255, 0.1);
  background-size: 50% 100%, 50% 100%;
  background-position: 0 0, 100% 0;
  background-repeat: no-repeat;
  opacity: 0.7;
}
/* line 110, ../../work/sass/style.scss */
.loading .spinner:after {
  content: "";
  position: absolute;
  border: 0.12em solid rgba(255, 255, 255, 0.3);
  position: absolute;
  top: 12.5%;
  left: 12.5%;
  width: 50%;
  height: 50%;
  border-radius: inherit;
}

@-webkit-keyframes mask {
  /* line 125, ../../work/sass/style.scss */
  25% {
    -webkit-transform: rotate(270deg);
  }

  /* line 126, ../../work/sass/style.scss */
  50% {
    -webkit-transform: rotate(90deg);
  }

  /* line 127, ../../work/sass/style.scss */
  75% {
    -webkit-transform: rotate(360deg);
  }

  /* line 128, ../../work/sass/style.scss */
  100% {
    -webkit-transform: rotate(180deg);
  }
}

@-moz-keyframes mask {
  /* line 125, ../../work/sass/style.scss */
  25% {
    -moz-transform: rotate(270deg);
  }

  /* line 126, ../../work/sass/style.scss */
  50% {
    -moz-transform: rotate(90deg);
  }

  /* line 127, ../../work/sass/style.scss */
  75% {
    -moz-transform: rotate(360deg);
  }

  /* line 128, ../../work/sass/style.scss */
  100% {
    -moz-transform: rotate(180deg);
  }
}

@-o-keyframes mask {
  /* line 125, ../../work/sass/style.scss */
  25% {
    -o-transform: rotate(270deg);
  }

  /* line 126, ../../work/sass/style.scss */
  50% {
    -o-transform: rotate(90deg);
  }

  /* line 127, ../../work/sass/style.scss */
  75% {
    -o-transform: rotate(360deg);
  }

  /* line 128, ../../work/sass/style.scss */
  100% {
    -o-transform: rotate(180deg);
  }
}

@keyframes mask {
  /* line 125, ../../work/sass/style.scss */
  25% {
    transform: rotate(270deg);
  }

  /* line 126, ../../work/sass/style.scss */
  50% {
    transform: rotate(90deg);
  }

  /* line 127, ../../work/sass/style.scss */
  75% {
    transform: rotate(360deg);
  }

  /* line 128, ../../work/sass/style.scss */
  100% {
    transform: rotate(180deg);
  }
}
