extends ../layout

block content
  h1 #{title}
  form.search-form.pure-form.pure-form-stacked(name="search-form")
    div
      input(type="url", name="url", autocomplete="on", placeholder="http://example.com")
    div.check-row
      input(type="radio", name="type", id="mobile", value="1", checked="true")
      label(for="mobile") Mobile
      input(type="radio", name="type", id="pc", value="2")
      label(for="pc") PC

  div#loading.loading
    div.spinner

  div.result
    section
      h2 Total Score
      div.score

    section
      h2 Performance Impact
      div#performance-impact-chart

block js-app
  script(src='/js/app/visualize.js')